﻿@model IEnumerable<TestApp.Models.Notification>
@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemplateMessage)
            </td>
            <td>
                @Html.ActionLink("Send", "Send", new { id = item.Id })
            </td>
        </tr>
    }

</table>